services:
  - type: web
    name: bct-project
    env: python
    buildCommand: |
      apt-get update
      apt-get install -y wkhtmltopdf
      pip install -r requirements.txt
    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: FLASK_ENV
        value: production
